* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(5, 5, 5);
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  padding: 10px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

header a {
  color: aliceblue;
  text-decoration: none;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline-block;
  padding: 0 40px;
}

/* Efeito de hover nos links de navegação */
header nav li a:hover {
  color: #007BFF;
}

/* TOPO DO SITE QUE TEM MEU ROSTO LINGO*/
section.corpo-site
{
  width: auto;
  height: 150vw;
  margin:10px;
  padding: 20px;
  background-image: url('./eu.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100vw;
  
}

.texto h1{
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  padding: 4px;
  font-size: 7vw;
  position: relative;
  top: 19vw;
  width: 70vw;
  left:10vw;
}
.ponto {
color: #007BFF;
}
.texto p{
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  left:10vw;
  padding: 4px;
  font-size: 2vw;
  position: relative;
  top: 18vw;
  width: 80vw;
  
}
.btn-link {

  font-size: 2vw;
  position: relative;
 
  
  text-align:  center;
  font-family: 'Poppins', sans-serif;
  color: white; /* Letra clara */
  padding: 10px 20px;
  
  background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
  
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}

.btn-link:hover {
  background-color: #007bffa1 ; /* Leve tom azul no hover */
  color: white; /* Mantém o texto claro no hover */
}
.footer {
  background-color: #333; /* Cor de fundo do rodapé */
  padding: 20px;
  text-align: center;
  color: white; /* Cor do texto */
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.linkedin-link {
  text-decoration: none;
}

.linkedin-icon {
  width: 30px; /* Tamanho do ícone do LinkedIn */
  height: 30px;
  transition: transform 0.3s ease;
}

.linkedin-link:hover .linkedin-icon {
  transform: scale(1.1); /* Aumenta levemente o ícone no hover */
}

.phone-number {
  margin: 0;
}
.btns{

  
  position: relative;
  display:  block;
  justify-content: space-between;
  top:40vw;
  left: 20vw;
}
.download-btn
  {
  font-size: 2vw;
  position: relative;
  
  
  text-align:  center;
  font-family: 'Poppins', sans-serif;
  color: white; /* Letra clara */
  padding: 10px 20px;
  
  background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
  
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}
.download-btn:hover {
  background-color: #007bffa1 ; /* Leve tom azul no hover */
  color: white; /* Mantém o texto claro no hover */
}