* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 5, 5);
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  padding: 10px;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

header a {
  color: aliceblue;
  text-decoration: none;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline-block;
  padding: 0 40px;
}

/* Efeito de hover nos links de navegação */
header nav li a:hover {
  color: #007bff;
}

/* TOPO DO SITE QUE TEM MEU ROSTO LINGO*/
section.corpo-site {
  width: auto;
  height: 150vw;
  margin: 10px;
  padding: 20px;
  background-image: url("./eu.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100vw;
}
.texto {
  position: relative;
  width: 50vw;
  left: 20vw;
  top: 20vw;
}
.texto h1 {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 4vw;
  position: relative;
}
.ponto {
  color: #007bff;
}
.texto p {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  position: relative;
}

.footer {
  background-color: #333; /* Cor de fundo do rodapé */
  padding: 20px;
  text-align: center;
  color: white; /* Cor do texto */
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.linkedin-link {
  text-decoration: none;
}

.linkedin-icon {
  width: 30px; /* Tamanho do ícone do LinkedIn */
  height: 30px;
  transition: transform 0.3s ease;
}

.linkedin-link:hover .linkedin-icon {
  transform: scale(1.1); /* Aumenta levemente o ícone no hover */
}

.phone-number {
  margin: 0;
}
.btns {
  position: relative;
  display: flex;
  top: 5vw;
  justify-content: space-between;
}
.download-btn {
  font-size: 2vw;
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white; /* Letra clara */
  padding: 10px 20px;
  background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}
.download-btn:hover {
  background-color: #007bffa1; /* Leve tom azul no hover */
  color: white; /* Mantém o texto claro no hover */
}
.btn-link {
  font-size: 2vw;
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white; /* Letra clara */
  padding: 10px 20px;
  background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}

.btn-link:hover {
  background-color: #007bffa1; /* Leve tom azul no hover */
  color: white; /* Mantém o texto claro no hover */
}
@media (max-width: 768px) {
  .texto h1 {
    font-size: 5vw;
  }
  .texto p {
    font-size: 3vw;
  }
  .btns {
    position: relative;
    display: flex;
    top: 5vw;
    justify-content: space-between;
  }
  .download-btn {
    font-size: 2vw;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white; /* Letra clara */
    padding: 5px;
    background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Suaviza a transição do hover */
  }
  .download-btn:hover {
    background-color: #007bff85; /* Leve tom azul no hover */
    color: white; /* Mantém o texto claro no hover */
  }
  .btn-link {
    font-size: 2vw;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white; /* Letra clara */
    padding: 5px;
    background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease; /* Suaviza a transição do hover */
  }

  .btn-link:hover {
    background-color: #007bffa1; /* Leve tom azul no hover */
    color: white; /* Mantém o texto claro no hover */
  }
}
.menu-toggle {
  display: none;
  background-color: #0057b36c;
  color: rgba(255, 255, 255, 0.418);
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
  padding: 5px;
}

/* Esconder o menu por padrão no mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #0057b362;
  }

  #navMenu ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }

  #navMenu ul li {
    margin: 10px 0;
    text-align: center;
  }

  /* Mostrar o menu quando a classe "active" for adicionada */
  #navMenu.active {
    display: flex;
  }
}
