* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  
    /*background: linear-gradient(to bottom, #000000, #0754a781);*/
}


.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  padding: 10px;
  background-color: #000000;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

header a {
  color: rgba(240, 248, 255, 0.945);
  text-decoration: none;
}


header nav ul {
  list-style: none;
}

header nav li {
  display: inline-block;
  padding: 0 40px;
}

/* Efeito de hover nos links de navegação */
header nav li a:hover {
  color: #007BFF;
}

/* TOPO DO SITE QUE TEM MEU ROSTO LINGO*/
main{
  height: 3080px;


}
section.corpo-site
{
  width: auto;
  height: 580px;
  margin-top: 10px;
  display: inline-block;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Alegreya', serif;
}
.introducao {
background-color: #000000;
color: aliceblue;
width: auto;
height: auto;
background-image: url(./experiencia.png);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Alegreya', serif;
position: relative;
background-position-x: right;
}
.introducao h2{
  font-size: large;
  font-size: 3vw;
  padding: 20px;
  position: relative;
  left: 2vw;

}
.introducao span {
  color: #007BFF;

}
.introducao h3{
  font-size: large;
  font-size: 3vw;
  padding: 20px;
  position: relative;
  left: 2vw;
}
.introducao p{
  font-size: large;
  font-size: 5vw;
  padding: 20px;
  position: relative;
  left: 2vw;
}
.left, .right {
    width: 60%;
    font-family: 'Poppins', sans-serif;
}
.left {
background-color:#eeeee0;
height: 80vw;
position: relative;
top: 1vw;
font-family: 'Alegreya', serif;
left:5%;
padding: 20px;
font-size: 1.7vw;

}
.left h2, .right h2 {
    margin-top: 0;
}
.left h2 {
  color: #007BFF;
  font-size: 4vw;
  }
  .left h3 {
    font-size: 2vw;
    position: relative;
    top: 2vw;
  }
.left p {
  position: relative;
  top: 5vw;
  font-size: 1.7vw;
}

.right{
  position: relative;
  top: 1vw;
  width: 18%;
  right: 16%;
  background-color: #eeeee0;
  padding: 15px;
  
}
.right h2{
  text-align: right;
  color: #007BFF;
  font-size: 1.5vw;
  position: relative;
}
.right p {
  text-align: right;
  position: relative;
  top: 5vw;
  font-size: 1vw;
  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content-section {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.left-sercom, .right-srercom {
    width: 60.80%;
    color: aliceblue;
}

section>.left-sercom {
    text-align: left;
    position: relative;
    top: 8vw;
    left: 6%;
    width: 58vw;
    background-color: #eeeee0;
    color: #000000;
    font-family: 'Alegreya', serif;
    padding-inline-start: 20px;
    
}
section>.left-sercom h3{
    font-size: 4vw;
    position: relative;
    left: 2%;
    color: #007BFF;
}
section>.left-sercom p{
    font-size: 1.7vw;
    position: relative;
    left: 1%;
    padding: 10px;
}
.right-sercom {
    text-align: left;
    position: relative;
    top: 5vw;
    background-color: #eeeee0;
    padding: 15px;
    color: #000000;
    font-family: 'Alegreya', serif;
   
    
  }
.right-sercom h3 {
 font-size: 2vw;
  position: relative;
  color: #007BFF;
  text-align: right;
    
}
.right-sercom p {
position: relative;
top: 2vw;
font-size: 1.7vw;
text-align: right;

}

/*formação*/
formation-section {
    margin: 20px;
    text-align: left;
}

h3 {
    margin: 0;
    padding-bottom: 5px;
}

p {
    margin: 5px 0;
}

ul {
    margin: 5px 0;
    padding-left: 20px;
}
.formation-section h3 {
  color: #007BFF;
  position: relative;
  top: 55vw;
  font-size: 2vw;
  left:2.7vw;
}
.formation-section p {

color: aliceblue;
position: relative;
top:55vw ;
left:2.7vw;
font-size: 1.7vw;
}

.formation-section ul {
width: 60vw;
margin: 10px;
border: solid red;
color: aliceblue;
position: relative;
top:55vw ;
left:2.7vw;
font-size: 1.7vw;
}





.btn-link {

  font-size: 2vw;
  position: relative;
  top: 28vw;
  width: 30vw;
  left: 30vw;
  text-align:  center;
  font-family: 'Poppins', sans-serif;
  color: white; /* Letra clara */
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(252, 252, 252, 0.363); /* Fundo preto */
  
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease; /* Suaviza a transição do hover */
}

.btn-link:hover {
  background-color: #007bffa1 ; /* Leve tom azul no hover */
  color: white; /* Mantém o texto claro no hover */
}
.footer {
  background-color: #333; /* Cor de fundo do rodapé */
  padding: 20px;
  text-align: center;
  color: white; /* Cor do texto */
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.linkedin-link {
  text-decoration: none;
}

.linkedin-icon {
  width: 30px; /* Tamanho do ícone do LinkedIn */
  height: 30px;
  transition: transform 0.3s ease;
}

.linkedin-link:hover .linkedin-icon {
  transform: scale(1.1); /* Aumenta levemente o ícone no hover */
}

.phone-number {
  margin: 0;
}
.download-btn
  {
font-size: 3vw;
position: relative;
top: 3vw;
}

